:root {
  --primary: #16213E;
  --secondary: #0F3460;
  --terceary: #533483;
  --red: #E94560;
  --soft-white: #f1f1f1;
  --black: #111;
  --gray: #222222;
}

html, body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;
  overflow-x: hidden;      
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  background-color: var(--gray);
}


.page {
  padding-top: 100px;
}